<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user %>!</h1>
    <p><%= @res['current_observation']['observation_time'] %></p>
    
  </body>
</html>